body {
  font-family: sans-serif;
  text-align: center;
}


.contenido {
  
  display: inline-block;
  text-align: start;
}
h1{
  text-align: center;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: auto;

  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;

  display: block;

}




meter,
input[type=range],
output {
  display: block;
  text-align: start;
  
}

mi-footer {
  
  
  font-size: small;

  text-align: center;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: auto;

  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;

  display: block;
}
